h1{
    text-align: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button{
    padding: 5px;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 18pt;
}
