h1{
    text-align: center;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100px;
    width: auto;
}
button{
    padding: 5px;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 18pt;
    border: solid 3px black;
}
button:hover{
    width: 140px;
    height: 90px;
    border: solid 6px green;
}
.espacoBotao{
    width: 140px;
    height: 90px;
}

/* Results */
.resultado{
    display: flex;
    padding: 50px;
    gap: 0px;
}
.resultado > div:nth-child(1){
    width: 15%;
}
.resultado > div:nth-child(2){
    width: 25%;
}
.score{
    gap: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.score > div{
    flex: 1;
    font-size: 18pt;
}
#texto{
    font-size: 24pt;
    font-weight: bold;
    font-style: italic;
}

/* Buttons */
#rock, #paper, #scissors{
    background-color: aliceblue;
    background-size: cover;
}
#rock{
    background-image: url("Rock.jpg") ;  
}
#paper{
    background-image: url("paper.jpg") ;
}
#scissors{
    background-image: url("scissors.jpeg");
}